<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />

    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
</head>
<style type="text/css">
   a[href]{
        color: #000 !important;
    }
    a{
        text-decoration: none !important;
    }
</style>
<body>
<table width="100%" border="0" style="border-collapse: collapse; font-family: sans-serif; padding: 0; margin: 0">
    <tbody>
    <tr>
        <td style="padding: 0; margin: 0">
            <table width="100%" border="0"
                   style="border-collapse: collapse;font-family: sans-serif; padding: 0; margin: 0">
                <tbody>
                <tr>
                    <td style="padding: 5px 0; margin: 0;"></td>
                </tr>
                <tr>
                    <td align="center" style="padding: 0; margin: 0;">
                        <img src="http://18.211.184.240:5000/public/icon.png" width="40" alt="BioApz" />
                        <img src="http://18.211.184.240:5000/public/logo.png" width="100" alt="Logo" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px 0; margin: 0"></td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 0; margin: 0"></td>
    </tr>
    </tbody>
</table>
<div style="max-width: 600px;margin: 0 auto">
    <table width="100%" border="0" style="border-collapse: collapse; font-family: sans-serif; padding: 0; margin: 0">
        <tbody>
        <tr>
            <td style="padding: 0; margin: 0">
                <p style="margin-top: 0; margin-bottom: 10px; color: #000;">Hello {{username}},</p>

                <p style="margin-top: 0; margin-bottom: 10px; color: #000;">You are receiving this e-mail because you requested a password reset for your BioApz account. Here is your OTP verification code.</p>

                <p style="margin-top: 0; margin-bottom: 10px;">Your OTP : <b>{{otp}}</b></p>
                <p style="color: #000;">It will expire in 5 minutes.</p>
                <!-- <p>
                    <a class="btn btn-primary" href="{{resetUrl}}">Reset My Password</a>
                </p> -->
				
                <p style="margin-top: 0; margin-bottom: 10px;color: #000;">Thanks!</p>
                <p style="margin-top: 0; margin-bottom: 10px;color: #000;">BioApz </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 0; margin: 0"></td>
        </tr>
        </tbody>
    </table>
</div>
<table width="100%" border="0"
       style="border-collapse: collapse; background-color: #1E522D; font-family: sans-serif; padding: 0; margin: 0">
    <tbody>
    <tr>
        <td style="padding: 5px 0; margin: 0"></td>
    </tr>
    <tr>
        <td align="center" style="padding: 0; margin: 0;color: #ffffff">
            <table width="100%" border="0"
                   style="border-collapse: collapse; font-family: sans-serif; padding: 0; margin: 0">
                <tbody>
                <tr>
                    <td style="padding: 0 5px; margin: 0"></td>
                </tr>
                <tr>
                    <td align="center" style="padding: 0; margin: 0;color: #ffffff">@BioApz All
                        rights reserved
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 5px; margin: 0"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 0; margin: 0"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
