<!doctype html>
<html lang="en">
<body>
<table width="100%" border="0" style="border-collapse: collapse; font-family: sans-serif; padding: 0; margin: 0">
    <tbody>
    <tr>
        <td style="padding: 0; margin: 0">
            <table width="100%" border="0"
                   style="border-collapse: collapse; background-color: #f0830d; font-family: sans-serif; padding: 0; margin: 0">
                <tbody>
                <tr>
                    <td style="padding: 5px 0; margin: 0"></td>
                </tr>
                <tr>
                    <td align="center" style="padding: 0; margin: 0">
                        <img alt="BioApz" src="http://18.211.184.240:5000/public/bio_logo.png" height="80">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px 0; margin: 0"></td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 0; margin: 0"></td>
    </tr>
    </tbody>
</table>
<div style="max-width: 600px;margin: 0 auto">
    <table width="100%" border="0" style="border-collapse: collapse; font-family: sans-serif; padding: 0; margin: 0">
        <tbody>
        <tr>
            <td style="padding: 0; margin: 0">
                <h3 style="margin-top: 0; margin-bottom: 10px;">Hello, {{username}}</h3>

                <p style="margin-top: 0; margin-bottom: 10px;">You are receiving this e-mail because you requested a password reset for your BioApz account. please click on below link to verify.</p>

                <p style="margin-top: 0; margin-bottom: 10px;">Please click <a target="_blank" href="{{resetUrl}}">here</a> to reset your password.</p>
                <!-- <p>
                    <a class="btn btn-primary" href="{{resetUrl}}">Reset My Password</a>
                </p> -->
				
                <p style="margin-top: 0; margin-bottom: 10px;">Thanks!</p>
                <p style="margin-top: 0; margin-bottom: 10px;">- BioApz </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 0; margin: 0"></td>
        </tr>
        </tbody>
    </table>
</div>
<table width="100%" border="0"
       style="border-collapse: collapse; background-color: #f0830d; font-family: sans-serif; padding: 0; margin: 0">
    <tbody>
    <tr>
        <td style="padding: 5px 0; margin: 0"></td>
    </tr>
    <tr>
        <td align="center" style="padding: 0; margin: 0;color: #ffffff">
            <table width="100%" border="0"
                   style="border-collapse: collapse; font-family: sans-serif; padding: 0; margin: 0">
                <tbody>
                <tr>
                    <td style="padding: 0 5px; margin: 0"></td>
                </tr>
                <tr>
                    <td align="center" style="padding: 0; margin: 0;color: #ffffff">BioApz All
                        rights reserved
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 5px; margin: 0"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 0; margin: 0"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
