<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Review Report</title>
</head>

<body>
    <p><strong>Subject:</strong> Urgent: Product Review Report - {{productName}}</p>

    <p> Hi Admin, </p>

    <p>I hope this email finds you well. We are writing to report a concern with a review for the
        <strong>{{productName}}</strong> on your platform.
    </p>

    <p><strong>User' Review:</strong> {{userReview}}</p>
    <p><strong>product Name:</strong> {{productName}}</p>
    <p><strong>Reviewer's Name:</strong> {{userName}}</p>
    <p><strong>Business Name:</strong> {{businessName}} ({{businessEmail}})</p>
    <p><strong>Business Comment:</strong> {{description}}</p>

    <p>We kindly request your prompt attention to this matter and appropriate action to address the concern raised in
        the review.</p>
    <p>
        <a href="{{url}}">{{url}}</a>
    </p>

    <p>Best Regards,<br>
        Support Team </p>
</body>

</html>