<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row">
<div class="col-sm-12">
<h1>Change Password</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<form id="passwordForm" method="POST">
<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
<div class="row">
<div class="col-sm-6">
<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Password must be at least 8 characters( at least one upper case letter, one lower case letter, one special characters and one digit).<br>
<!-- <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter -->
</div>
<!-- <div class="col-sm-6">
<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
</div> -->
</div>
<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
<div class="row">
<div class="col-sm-12">
<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
</div>
</div>
<input type="button" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" id="ChangePassword" disabled>
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>


<script>

    // prevent inspect [ctrl+u, f12, ctrl+shift+i, right-click, f6]
    $(document).keydown(function(event){
        //f12, f6, ctrl+shift+i
        if(event.keyCode==123 || event.keyCode === 117){ 
            return false;
        }
        else if (event.ctrlKey && event.shiftKey && event.keyCode==73){       
                return false;
        }
    });

    //right-click
    $(document).on("contextmenu",function(e){        
    e.preventDefault();
    });

    document.onkeydown = function(e) {
        //ctrl+c, ctrl+v, ctrl+u
            if (e.ctrlKey && 
                (e.keyCode === 67 || 
                e.keyCode === 86 || 
                e.keyCode === 85)) {    
                return false;
            } else {
                return true;
            }
    };
    $(document).keypress("u",function(e) {
    if(e.ctrlKey)
    {
    return false;
    }
    else
    {
    return true;
    }
    });
    // prevent inspect over [ctrl+u, f12, ctrl+shift+i, right-click]


$("input[type=password]").keyup(function(){
    var ucase = new RegExp("[A-Z]+");
	var lcase = new RegExp("[a-z]+");
	var num = new RegExp("[0-9]+");
	var txtInput = $('#password1').val();
    var uppercase = /[A-Z]/ ;
    var lowercase = /[a-z]/ ;
    var number    = /[0-9]/ ;
    var special   = /[\W]{1,}/ ; 
    var pswd_length    = txtInput.length < 8;
	if(!uppercase.test(txtInput) || !lowercase.test(txtInput) || !number.test(txtInput) || !special.test(txtInput) || pswd_length){
		
        $("#8char").removeClass("glyphicon-ok");
		$("#8char").addClass("glyphicon-remove");
        $("#8char").css("color","#FF0004");
        $('#ChangePassword').prop('disabled', true)
	}else{
		$("#8char").removeClass("glyphicon-remove");
		$("#8char").addClass("glyphicon-ok");
        $("#8char").css("color","#00A41E");
        $('#ChangePassword').prop('disabled', true)
	}
	
	// if(ucase.test($("#password1").val())){
	// 	$("#ucase").removeClass("glyphicon-remove");
	// 	$("#ucase").addClass("glyphicon-ok");
	// 	$("#ucase").css("color","#00A41E");
	// }else{
	// 	$("#ucase").removeClass("glyphicon-ok");
	// 	$("#ucase").addClass("glyphicon-remove");
	// 	$("#ucase").css("color","#FF0004");
	// }
	
	// if(lcase.test($("#password1").val())){
	// 	$("#lcase").removeClass("glyphicon-remove");
	// 	$("#lcase").addClass("glyphicon-ok");
	// 	$("#lcase").css("color","#00A41E");
	// }else{
	// 	$("#lcase").removeClass("glyphicon-ok");
	// 	$("#lcase").addClass("glyphicon-remove");
	// 	$("#lcase").css("color","#FF0004");
	// }
	
	// if(num.test($("#password1").val())){
	// 	$("#num").removeClass("glyphicon-remove");
	// 	$("#num").addClass("glyphicon-ok");
	// 	$("#num").css("color","#00A41E");
	// }else{
	// 	$("#num").removeClass("glyphicon-ok");
	// 	$("#num").addClass("glyphicon-remove");
	// 	$("#num").css("color","#FF0004");
	// }
	
	if($("#password1").val() == $("#password2").val() && $('#password2').val().length > 8){
		$("#pwmatch").removeClass("glyphicon-remove");
		$("#pwmatch").addClass("glyphicon-ok");
        $("#pwmatch").css("color","#00A41E");
        $('#ChangePassword').prop('disabled', false)
	}else{
		$("#pwmatch").removeClass("glyphicon-ok");
		$("#pwmatch").addClass("glyphicon-remove");
        $("#pwmatch").css("color","#FF0004");
        $('#ChangePassword').prop('disabled', true)
    }
});

$('#ChangePassword').on('click', function(){
     
         var newData = {"new_password": $('#password2').val()}
         var token = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1)
         console.log(newData, token)

         $.ajax({
             url : window.location.origin +'/api/user/update-password/' + token,
             type: 'POST',
             dataType: 'json',
             data: newData,
             CrossDomain:true,
         }).done(function(response) {
            //  console.log(response.code)
            if (response.code){
                alert(response.message)
                location.reload()
            }
            else{
                alert(response.message)
                location.reload()
            }
          
         }).fail(function(){
             alert("Fail to request..")
         });

 })
</script>